
# Datos — ignorar todo, con excepciones explícitas 
data/*.csv
data/*.json
data/*.xlsx

# Estos archivos SÍ se suben (excepciones)
!data/dataset_limpio_ESTE.csv
!data/X_features_avanzado1.csv
!data/y_target_avanzado1.csv


# Notebooks 
*.ipynb
.ipynb_checkpoints/

# Imágenes 
*.png

# Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
env/
venv/
.venv/

# Archivos del sistema operativo 
.DS_Store
Thumbs.db
desktop.ini

# IDEs 
.vscode/
.idea/

# Templates y archivos no utilizados 
templates/registro.html
static/logo.ico
alertas.py
#scripts/01_limpieza_datos.py

# Base de datos de caché 
*.db
*.sqlite

# Variables de entorno 
.env
.env.local
.env.production

# Carpetas 
metadata/
model/